<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница не найдена</title>
    <style>
        body {
            text-align: center;
            padding: 150px;
        }
        h1 {
            font-size: 50px;
        }
        body {
            font: 20px Helvetica, sans-serif;
            color: #333;
        }
        a {
            color: #333;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <h2>Страница не найдена</h2>
    <p>Извините, но страница, которую вы ищете, не существует.</p>
    <p><a href="{% url 'home' %}">Вернуться на главную страницу</a></p>
</body>
</html>