<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <title>GuaranaTune | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'images/logo_ico.png' %}" />
    <link
      rel="stylesheet prefetch"
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
  </head>

  <body>
    <div class="container">
      <header>
        <h1>
          <a href="#">
            <img src="{% static 'images/logo_white.png' %}" />
          </a>
        </h1>
      </header>
      <h1 class="text-center">Login</h1>
      <form class="registration-form">
        <label>
          <span class="label-text">Email (or Login)</span>
          <input type="text" name="email" />
        </label>
        <label class="password">
          <span class="label-text">Password</span>
          <button
            class="toggle-visibility"
            title="toggle password visibility"
            tabindex="-1"
          >
            <span class="glyphicon glyphicon-eye-close"></span>
          </button>
          <input type="password" name="password" />
        </label>
        <label class="checkbox">
          <input type="checkbox" name="newsletter" />
          <span>Remember me</span>
        </label>
        <div class="text-center">
          <button class="submit" name="register">Login Me</button>
        </div>
      </form>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
