{% load static %}

<link rel="stylesheet" href="{% static 'css/playlist_page.css' %}">

<div class="playlist-header">
    <div class="gradient-background">
        <img class="playlist-avatar" src="{{ playlist.logo.url }}" alt="Playlist avatar">
    </div>
    <div class="playlist-info">
        <h1>{{ playlist.name }}</h1>
        <p>By {{ playlist.author }}</p>
    </div>
</div>

<div class="track-list">
    {% for track in tracks %}
        <div class="track"
             data-src="{{ track.mp3.url }}"
             data-logo="{{ track.logo.url }}"
             data-name="{{ track.name }}"
             data-author="{{ track.author }}"
        >
            <div class="play-icon">
                <button>&#9654;</button>
            </div>
            <div class="track-logo">
                <img src="{{ track.logo.url }}" alt="{{ track.name }}">
            </div>
            <div class="track-info">
                <p class="track-name">{{ track.name }}</p>
                <p class="track-artist">{{ track.author }}</p>
            </div>
            <p class="track-duration">{{ track.duration }}</p>
        </div>
    {% empty %}
        <p>No tracks in this playlist.</p>
    {% endfor %}
</div>