.genre-section {
    margin-bottom: 40px;
    display: block;
    padding: 20px;
}

.genre-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.tracks {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    padding: 10px;
}

.track {
    display: inline-block;
    width: 150px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.track img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.track:hover img {
    background-color: #f0f0f0;
}

.track-name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.track-author {
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.track:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.track::before {
    content: '\25B6';
    font-size: 24px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 60px;
    height: 60px;
    background-color: rgba(94, 0, 202, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.track:hover::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}
